Log/AgentsManager/*.log.html
Log/FakeAgent/*.log.html
Log/ut_processRxPacket/*.log.html
Log/run_all/*.log.html
.vscode/
.mypy_cache/
__pycache__/
Settings/
*.profile_output
*.qmlc
PowerBank/build/
PowerBank/src/.qmake.stash
PowerBank/src/Makefile
PowerBank/bin/
