Log/AgentsManager/*.log.html
Log/FakeAgent/*.log.html
Log/ut_processRxPacket/*.log.html
Log/run_all/*.log.html
.vscode/
.mypy_cache/
__pycache__/
Settings/
*.profile_output
*.qmlc
App/PowerUtils/UsbPowerStation/build/
App/PowerUtils/UsbPowerStation/src/.qmake.stash
App/PowerUtils/UsbPowerStation/src/Makefile
App/PowerUtils/UsbPowerStation/bin/
